
.App {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

table {
  border-collapse: collapse;
  border: 3px solid black;
}

td {
  border: 1px solid black;
  height: 1.3rem;
  width: 1.3rem;
  cursor: pointer;
}

td:hover {
  background-color: lightblue;
}

td.selected {
  background-color: rgb(80, 202, 247);
}

td:nth-child(3),
td:nth-child(6) {
  border-right: 3px solid black;
}
tr:nth-child(3),
tr:nth-child(6) {
  border-bottom: 3px solid black;
}

.num-board {
  display: flex;
  justify-content: space-between;
  margin-top: .2em;;
}

.game-won-message {
  padding: 1em;
  font-size: large;
  background-color: lightgoldenrodyellow;
  border-radius: 2em;
  margin-bottom: 1em;
}

